---
import BannerLayout from "@/layouts/BannerLayout.astro";
import { Image } from "@astrojs/image/components";
import strapi from "@/api/strapi";
import type { AboutEntityResponse } from "@/models/types";
import { imageRespToUrl } from "@/utils";

const resp = (await strapi.find("about", {
  populate: ["image", "partners.image"],
})) as AboutEntityResponse;
const about = resp.data?.attributes!;

const titleClasses = [
  "font-semibold mb-2 mx-auto w-fit",
  "text-xl md:text-2xl lg:text-3xl",
];
// console.log(about);
---

<BannerLayout title="About us" bannerTitle="About us">
  <section
    class:list={[
      "w-full max-w-5xl mx-auto px-5",
      "flex flex-col md:flex-row gap-5 md:gap-10",
      "mt-10",
    ]}
  >
    <div class="md:w-0 flex-grow">
      <h2 class:list={[titleClasses, "md:mx-0"]}>
        {about.title}
      </h2>
      <p style="hyphens:auto" class="text-justify">{about.content}</p>
    </div>

    <Image
      class="w-full md:w-0 flex-grow rounded"
      src={imageRespToUrl(about.image)}
      alt="image of about us"
      width={800}
      height={450}
      format="webp"
    />
  </section>

  <div class="mt-10"></div>
  {
    about.partners && (
      <section class="px-5">
        <h2 class:list={titleClasses}>Our Partners</h2>

        <div
          class:list={[
            "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 lg:gap-10 mt-5",
            "max-w-5xl w-full mx-auto",
          ]}
        >
          {about.partners.map((partner) => (
            <a href={partner?.link} class="w-full">
              <Image
                src={imageRespToUrl(partner?.image)}
                width={400}
                height={150}
                format="webp"
                fit="cover"
                alt="partner"
                class="shadow-md hover:scale-110 transition rounded w-full h-auto"
              />
            </a>
          ))}
        </div>
      </section>
    )
  }

  <div class="mt-10"></div>
</BannerLayout>
