---
import BannerLayout from "@/layouts/BannerLayout.astro";
import strapi from "@/api/strapi";
import type { AboutEntityResponse } from "@/models/types";
import { imageRespToUrl } from "@/utils";
import { Picture } from "astro-imagetools/components";

const resp = (await strapi.find("about", {
  populate: ["image", "partners.image"],
})) as AboutEntityResponse;
const about = resp.data?.attributes!;

const titleClasses = [
  "font-semibold mb-2 mx-auto w-fit",
  "text-xl md:text-2xl lg:text-3xl",
];
// console.log(about);
---

<BannerLayout name="about">
  <section
    class:list={[
      "w-full max-w-5xl mx-auto px-5",
      "grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-10",
      "mt-10",
    ]}
  >
    <div>
      <h2 class:list={[titleClasses, "md:mx-0"]}>
        {about.title}
      </h2>
      <p style="hyphens:auto" class="text-justify">{about.content}</p>
    </div>

    <Picture
      attributes={{
        img: {
          class: "rounded",
        },
      }}
      src={imageRespToUrl(about.image)}
      alt="image of about us"
      width={640}
      aspect={16 / 9}
      format="webp"
    />
  </section>
  <div class="mt-10"></div>
  {
    about.partners && (
      <section class="px-5">
        <h2 class:list={titleClasses}>Our Partners</h2>

        <div
          class:list={[
            "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 lg:gap-10 mt-5",
            "max-w-5xl w-full mx-auto",
          ]}
        >
          {about.partners.map((partner) => (
            <a href={partner?.link} class="w-full">
              <Picture
                src={imageRespToUrl(partner?.image)}
                width={350}
                height={100}
                format="webp"
                fit="contain"
                background="rgba(0,0,0,0)"
                alt={partner?.title ?? ""}
                attributes={{
                  picture: {
                    class:
                      "shadow-md hover:scale-110 transition rounded aspect-[5/2] border-gray-100 border",
                  },
                }}
              />
            </a>
          ))}
        </div>
      </section>
    )
  }

  <div class="mt-10"></div>
</BannerLayout>
