---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Slider from "@/components/home/Slider.astro";
import Card, { CardBase } from "@/components/base/Card.astro";
import strapi from "@/api/strapi";
import type {
  AboutEntityResponse,
  EventEntityResponseCollection,
  NewsEntityResponseCollection,
} from "@/models/types";
import { articleToCard } from "@/utils";
import AboutTextSection from "@/components/about/TextSection.astro";
import AboutPartnerCards from "@/components/about/PartnerCards.astro";
import { titleClasses } from "@/utils";

const newsResp = (await strapi.find("news-list", {
  populate: ["article", "article.cover"],
  filters: {
    isTop: {
      $eq: true,
    },
  },
  sort: ["article.publishDate:DESC", "order:ASC"],
  pagination: {
    start: 0,
    limit: 3,
  },
})) as NewsEntityResponseCollection;
const newsList = newsResp.data;

const newsCards = newsList.map((news) => {
  return articleToCard(
    news.attributes!.article,
    `/news/${news.id}/`
  ) as CardBase;
});

const eventsResp = (await strapi.find("events", {
  populate: ["article", "article.cover"],
  filters: {
    isTop: {
      $eq: true,
    },
  },
  sort: ["article.publishDate:DESC", "order:ASC"],
  pagination: {
    start: 0,
    limit: 3,
  },
})) as EventEntityResponseCollection;
const events = eventsResp.data;

const eventCards = events.map((event) => {
  return articleToCard(
    event.attributes!.article,
    `/events/${event.id}/`
  ) as CardBase;
});

const slides = newsCards.concat(eventCards);

const aboutResp = (await strapi.find("about", {
  populate: ["image", "partners.image"],
})) as AboutEntityResponse;
const about = aboutResp.data?.attributes!;
---

<BaseLayout title="Home" description={about?.content}>
  <div class="flex flex-col gap-10 lg:gap-16">
    <Slider slides={slides} />

    <AboutTextSection about={about} />

    <section class="px-5">
      <h2 class:list={[titleClasses, "mb-8"]}>News</h2>

      <div
        class:list={[
          "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-10 mt-5",
          "max-w-7xl w-full mx-auto",
        ]}
      >
        {newsCards.map((card) => <Card card={card} />)}
      </div>
    </section>

    <section class="px-5">
      <h2 class:list={[titleClasses, "mb-8"]}>Events</h2>

      <div
        class:list={[
          "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-10 mt-5",
          "max-w-7xl w-full mx-auto",
        ]}
      >
        {eventCards.map((card) => <Card card={card} />)}
      </div>
    </section>

    {about.partners && <AboutPartnerCards about={about} />}

    <div class="mt-20"></div>
  </div>
</BaseLayout>
