---
interface Props {
  slides: CardBase[];
}
const { slides } = Astro.props;

import "flickity/css/flickity.css";
import type { CardBase } from "@/components/base/Card.astro";
import { Picture } from "astro-imagetools/components";
---

<div class="main-carousel opacity-0 overflow-hidden">
  {
    slides.map(
      (slide) =>
        slide.imageUrl && (
          <a href={slide.link} class="carousel-cell lg:mx-2 lg:w-1/2 relative">
            <Picture
              src={slide.imageUrl}
              breakpoints={[600, 1200]}
              aspect={16 / 9}
              format="webp"
              alt={slide.title}
              attributes={{
                img: {
                  class: "lg:rounded-md",
                },
                picture: {
                  class: "aspect-video",
                },
              }}
            />

            <div class="absolute inset-0 flex items-center justify-center z-10">
              <div class="w-full h-full bg-black opacity-30 absolute lg:rounded-md" />
              <div
                class:list={[
                  "slide-intro opacity-0 transition duration-300",
                  "px-16 lg:px-20 gap-4 w-full z-10 flex flex-col items-center pt-4 lg:pt-0",
                ]}
              >
                <h2 class="text-xl lg:text-5xl font-black lg:!leading-[4rem] text-white text-center truncate w-full">
                  {slide.title}
                </h2>
                <p class="hidden lg:block truncate text-white font-semibold text-lg lg:text-xl w-full -mt-3">
                  {slide.description}
                </p>
                <button
                  class:list={[
                    "border-white border-2 text-white font-semibold",
                    "lg:text-xl px-2 lg:px-4 py-1 lg:py-2 rounded",
                    "bg-black bg-opacity-30",
                  ]}
                >
                  Learn more
                </button>
              </div>
            </div>
          </a>
        )
    )
  }
</div>

<script>
  import Flickity from "flickity";
  new Flickity(".main-carousel", {
    autoPlay: 3000,
    wrapAround: true,
  });
  const carousel = document.querySelector(".main-carousel") as HTMLElement;
  carousel.style.opacity = "1";
  carousel.style.overflow = "visible";
</script>

<style>
  .carousel-cell.is-selected .slide-intro {
    opacity: 1;
  }
  .main-carousel {
    height: calc(100vw / 16 * 9 - 0.5rem);
  }

  @media (min-width: 1024px) {
    .main-carousel {
      height: calc(50vw / 16 * 9 - 0.4rem);
    }
    .flickity-button {
      width: 44px;
      height: 44px;
    }
  }
</style>

<style is:global>
  .flickity-button:focus,
  .flickity-page-dot:focus {
    box-shadow: none;
  }
  .flickity-button {
    width: 32px !important;
    height: 32px !important;
  }
  @media (min-width: 1024px) {
    .flickity-button {
      width: 48px !important;
      height: 48px !important;
    }
  }
</style>
